.error_strings{ font-family:Verdana; font-size:14px; color:#660000;}
.table {
    width: 100%;
    max-width: 100%;
    margin-bottom: 19px;
    font-size: 15px!important;
    font-weight: 800!important;
}